{% macro user_line(user) -%}
	<tr class="user-row" id="user-{{user.id}}">
		<td>
			<input name="{{user.id}}-name" class="input-medium" type="text" value="{{user.username}}">
		</td>
		<td>
			<input name="{{user.id}}-email"type="text" class="input-medium" value="{{user.email}}">
		</td>
		<td>
			<input name="{{user.id}}-password" type="text" class="input-medium" {{ 'readonly' if user.openid != None }}>
		</td>
		<td>
			<div class="input-prepend">
				<span class="add-on">$</span>
				<input name="{{user.id}}-balance" type="text" class="input-mini" value="{{ '%.2f' % user.balance }}">	
			</div>
			
		</td>
		<td>
			<input name="{{user.id}}-isAdmin" type="checkbox" {{ 'checked' if user.isAdmin() }}>
		</td>
		<td>
			<a href="#" class="btn delete-user" data-id="{{user.id}}"><i class="icon-trash"></i></a>
		</td>
	</tr>
{%- endmacro %}

<form action="?source=users" method="post" class="form-inline">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Username</th>
				<th>E-Mail Address</th>
				<th>Password</th>
				<th>Balance</th>
				<th>Admin?</th>
				<th>Delete?</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				{{ user_line(user) }}
			{% endfor %}
		</tbody>
	</table>
	<div class="form-actions">
		<button class="btn btn-primary" type="submit">Submit</button>
	</div>
</form>
{% include 'confirm_delete_modal.html' %}
<script type="text/javascript">
	$(document).ready(function () {

		$('#confirmDeleteModal').bind('show', function() {
		    var id = $(this).data('id'),
		        removeBtn = $(this).find('.btn-danger'),
		        href = removeBtn.attr('href');

		    removeBtn.attr('href', href.replace(/delete\/\d*/, 'delete\/' + id));
		})

		$('.delete-user').click(function(e) {
			e.preventDefault();
			id = $(this).data('id');
			$('#confirmDeleteModal').data('id', id).modal('show');
		});
		
	});
</script>
