<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LVL1 Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/ajaxfileupload.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          {% block navbar_inner %}
            {% include 'navbar_inner.html' %}
          {% endblock %} <!-- /navbar_inner -->
        </div>
        
      </div>
    </div>
    {% endblock %} <!-- /navbar -->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          {% block sidebar %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% block sidebar_inner %}
                {% include 'sidebar.html' %}
              {% endblock %}
            </ul>
          </div><!--/.well -->
          {% endblock %}


        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
            <div class="span9">
              {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                  {% for category, message in messages %}
                    {% if category == 'error' or category == 'info' or category == 'success' %}
                      <div class="alert alert-{{category}}">
                        <button class="close" data-dismiss="alert">x</button>
                        {{message|safe}}
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
          </div>
          {% block content %}
            <div class="hero-unit">

              <h1>LVL1 Store</h1>
              <p>It's time to mindlessly consume!</p>
              <p><a class="btn btn-primary btn-large">Add Money &raquo;</a></p>
            </div>
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    {% include 'login_modal.html' %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        {% if current_user.is_anonymous() and disable_login != true%}
        $('#loginModal').modal({'backdrop': 'static'});
        {% else %}
        $('#loginModal').modal({show: false});
        {% endif %}
      });
    </script>

  </body>
</html>