{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span6 well">
            <h1>Add Money with PayPal</h1>
            <ol>
                <li>Go to <a href="/addMoney">this page</a>.</li>
                <li>Enter the amount you'd like to add.</li>
                <li>Check out with PayPal.</li>
                <li>Continue Shopping</li>
            </ol>
        </div>
        <div class="span6 well">
            <h1>Pay with Cash/Check</h1>
            <ol>
                <li>
                    Put cash/check into envelope with your name on it.
                    <ul>
                        <li>Make checks payable to Brad Luyster</li>
                    </ul>
                </li>
                <li>Dump envelope into secure drop on top of cabinet.</li>
                <li>Wait for someone to enter the money into your account.</li>
            </ol>
        </div>
    </div>
{% endblock %}