<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<a class="brand" href="#">LVL1 Store</a>
<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i> {{ "%s" % current_user.username if current_user.username is defined else "Anonymous" }}
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu">
    {% if current_user is defined %}
    <li><a href="/settings">Settings</a></li>
    <li class="divider"></li>
    <li><a onClick="$('#loginModal').modal('show');" href="/logout">Sign Out</a></li>
    {% else %}
    <li><a href="/login">Sign In</a></li>
    {% endif %}
  </ul>
</div>

<div class="nav pull-right">
  <ul class="nav">
    <li {{ 'class=active' if request.path == "/addMoney" }}><a href="/addMoney">Balance: </a></li>
    <li><p class="navbar-text" {{ {'style': 'color: red;'}|xmlattr if current_user.balance < 0 }}>{{ "$%.2f" % current_user.balance if current_user.username is defined else "$%.2f" % 0 }}</p></li>
  </ul>
</div>

<form action="/checkout" method="POST" id="checkout" style="display:none"><input type="hidden" name="cartJson"></form>
<a href="javascript:;" onClick="$('form#checkout input').val(simpleCart.getCartJson()); $('#checkout').submit();" class="btn btn-primary pull-right checkout">Checkout <i class="icon-arrow-right"></i></a>
<a href="#" class="btn btn-success pull-right cart-toggle"><i class="icon-shopping-cart"></i> Shopping Cart</a>

<form class="navbar-search pull-right" action="/searchItem">
  <input name="q" type="text" placeholder="Search for Item" class="span2 search-query">
</form>

<div class="nav-collapse">
  <ul class="nav">
    <li {{ 'class=active' if request.path == "/" }}><a href="/">Home</a></li>
    <li {{ 'class=active' if request.path == "/about" }}><a href="/about">About</a></li>
    <li {{ 'class=active' if request.path == "/contact" }}><a href="/contact">Contact</a></li>
  </ul>
</div><!--/.nav-collapse -->