{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span9">
            <h2>LVL1 Honor System Parts Store</h2>
            <p>The LVL1 Parts Store is honor system. Add items to your cart, check out, and take them from the parts cabinet. Your account balance can go negative, no problem. Settle up whenever you can.</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2 well" style="margin-left: 0; padding: 5px;">
            <h4>Log In</h4>
            <hr style="margin: 4px; border-top: 1px solid #aaa">
            <p style="font-size: 12px;">You've figured that one out already.  Don't want to use OpenId? <a href="mailto:store@lvl1.org">Request an Anonymous Login</a></p>
        </div>
        <div class="arrow" style="width: 2.38%; float: left;"><img src="/static/img/arrow-right.png" alt=""></div>
        <div class="span2 well" style="margin-left: 0; padding: 5px;">
            <h4>Add Money</h4>
            <hr style="margin: 4px; border-top: 1px solid #aaa">
            <p style="font-size: 12px;">Add money to your account so the store can stay alive.  You can pay with paypal, cash or check.</p>
        </div>
        <div class="arrow" style="width: 2.38%; float: left;"><img src="/static/img/arrow-right.png" alt=""></div>
        <div class="span2 well" style="margin-left: 0; padding: 5px;">
            <h4>Find Items</h4>
            <hr style="margin: 4px; border-top: 1px solid #aaa">
            <p style="font-size: 12px;">Browse the categories at the left, or search for items.</p>
        </div>
        <div class="arrow" style="width: 2.38%; float: left;"><img src="/static/img/arrow-right.png" alt=""></div>
        <div class="span2 well" style="margin-left: 0; padding: 5px;">
            <h4>Add to Cart</h4>
            <hr style="margin: 4px; border-top: 1px solid #aaa">
            <p style="font-size: 12px;">Add what you want to your cart.</p>
        </div>
        <div class="arrow" style="width: 2.38%; float: left;"><img src="/static/img/arrow-right.png" alt=""></div>
        <div class="span2 well" style="margin-left: 0; padding: 5px;">
            <h4>Check Out</h4>
            <hr style="margin: 4px; border-top: 1px solid #aaa">
            <p style="font-size: 12px;">Check out. The money will be deducted from your account, and you'll be logged out. Don't have enough money? No problem, your account balance can be negative!</p>
        </div>
    </div>
{% endblock %}