<div class="preview">
	<h4>Preview:</h4>
	<p id="imgPreview">
	{% if item.picture %}
		<img src="{{item.picture}}" alt="">
	{% else %}
		No Image Uploaded Yet!
	{% endif %}
	</p><p>
		{{ item.description|safe }}
	</p>
</div>
<hr>
<div class="edit">
	<h4>Edit:</h4>
	<form class="form-horizontal" id="descUpdate">
		<fieldset>
			<input type="hidden" name="id" value="{{item.id}}">
			<div class="control-group">
				<label for="desc" class="control-label">Desciption: </label>
				<div class="controls"><textarea name="desc" id="desc" cols="30" rows="10">{{item.description}}</textarea></div>
			</div>
		</fieldset>
	</form>
	<div id="file-uploader">
	    <noscript>
	        <p>Please enable JavaScript to use file uploader.</p>
	        <!-- or put a simple form for upload here -->
	    </noscript>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var uploader = new qq.FileUploader({
			element: document.getElementById('file-uploader'),
			params: {'id': {{item.id}}},
			action: '/modifyItems/uploadImage',
			debug: true,
			onComplete: function(id, fileName, responseJSON){
				$('#imgPreview').html('<img src="' + responseJSON.filename + '">');
			}
		});
	});
</script>	