<div id="itemAlertModal" class="modal hide fade in">
  <div class="modal-header">
  	<button class="close" data-dismiss="modal">×</button>
    <h3>Problem?</h3>
  </div>
  <div class="modal-body">
    <h3>What's up?</h3>
    <form id="problemForm" action="/category/alertShopkeep" method="post" class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label for="probType" class="control-label">Problem Type: </label>
          <div class="controls">
            <select name="probType" id="probType">
              <option value="select">Select Problem Type</option>
              <option value="out">Out of Item</option>
              <option value="misplaced">Item Misplaced</option>
              <option value="missing_parts">Missing Parts</option>
              <option value="general">General Malaise</option>
            </select>
          </div>
        </div>
        <div class="control-group">
          <label for="probDesc" class="control-label">Problem Description:</label>
          <div class="controls">
            <textarea name="probDesc" id="" cols="40" rows="10"></textarea>
          </div>
        </div>
        <input type="hidden" name="user-id" value="{{ current_user.id }}">
        <input type="hidden" name="item-id">
      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
  	<a href="" id="sendReport" class="btn btn-primary">Report Problem</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>

</div>
<script type="text/javascript">
$(document).ready(function () {
  $('a#sendReport').click(function (e) {
    e.preventDefault();
    $('form#problemForm').submit();
  });
});
</script>